<div class="menu-board">
  <header>
    <div id="menu-head">
      <h1><img
          src="./public/KSClogo-nobottomwords.png"
          alt="Kellogg Springs Camp"
        />Next Menu</h1>
    </div>
  </header>
  <section class="menu_items">
    <h2>Hot Dishes</h2>
    <ul>
      <li>Fried chicken</li>
      <li>Pulled pork</li>
      <li>Grilled salmon</li>
      <li>Vegetable stir-fry</li>
    </ul>
    <h2>Cold Dishes</h2>
    <ul>
      <li>Mac and cheese</li>
      <li>Green beans</li>
      <li>Mashed potatoes</li>
      <li>Corn on the cob</li>
    </ul>
    <h2>Desserts</h2>
    <ul>
      <li>Apple pie</li>
      <li>Brownies</li>
      <li>Ice cream</li>
      <li>Fruit salad</li>
    </ul>
  </section>
</div>